body {
    background-color: transparent;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar {
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar .navbar-brand{	
    color: #4CAE4C;
    font-size: 30px;
    padding: 14px;
}
	
.navbar .navbar-brand	img {
    vertical-align: top;
}

p.text-center{
    margin: 0 0 5px;
}

.bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"] {
    margin-bottom: 0px;
}

a {
    color: #4CAE4C;
}

a:hover a:active {
    color: #5E5E5E;
}

a#centrado-link{
    font-family: 'Comfortaa', Helvetica, Arial, sans-serif;
}

/*---- LAYOUT ----*/

div#map_canvas{
    height:500px;
    border: 1px solid #E7E7E7;
    width:100%;
    min-width: 280px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075);
    margin: 0 0 10px;
}

/*---- MAP ----*/
div#picture-div{
	width: 240px;
}

div#picture-background {
    background-position:center;
    display: table;
    height: 180px;
    overflow: hidden;
    position: relative;
    width: 260px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075);
}

div#link-frame {
    /*border-top: 7px solid;*/
    display: table;
    height: 139px;
    vertical-align: top;
    width: 260px;
    text-align: center;
    color: transparent;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
}

div#link-frame:hover {
    border: 3px solid #4CAE4C;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

div#picture-navigator {
/*    display: table-cell;
    vertical-align: bottom;*/
}

div#picture-navigator .pager{
    margin: 5px;
}

